[submodule "porest-back"]
	path = porest-back
	url = https://github.com/lshdainty/porest-back.git
[submodule "porest-front"]
	path = porest-front
	url = https://github.com/lshdainty/porest-front.git
[submodule "porest-docs"]
	path = porest-docs
	url = https://github.com/lshdainty/porest-docs.git
